.socialMediaIcon {
  margin-left: 5px;
}

.socialMediaName {
  margin-left: 8px;
}

.socialMediaWebsite {
  margin-right: 8px;
}

.socialMedia-container {
  width: 350px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px black;
}
